thin:            bundle exec rails s -p $PORT
sidekiq:         bundle exec sidekiq -q miq_bot
sidekiq_glacial: bundle exec sidekiq -q miq_bot_glacial
#gitter_bot:      bin/gitter-bot
#rails:           tail -f -n 0 log/development.log
