thin:            bundle exec rails s -p $PORT
sidekiq:         bundle exec sidekiq -q miq_bot
travis_listener: bundle exec rails runner lib/travis_event/listener.rb
legacy_bot:      tail -f -n 0 lib/bot/log/miq_bot.log
#rails:           tail -f -n 0 log/development.log
