<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>A new issue with label <%= @label %> has been created.
Please check it at <%= @issue %></p>
</body>
</html>