[Unit]
Description=ManageIQ Bot rails server
After=network-online.target

[Service]
User=root
WorkingDirectory=/opt/miq_bot
Environment=RAILS_ENV=production
ExecStart=/bin/bash -lc 'bundle exec rails s -p 3000'
Restart=always
StandardInput=null
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
KillMode=process

[Install]
WantedBy=multi-user.target
